.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--bg);
    /* Usando suas variaveis do :root */
    border-bottom: 1px solid var(--border);
}

.nav ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: var(--text);
    font-weight: 500;
    transition: color 0.2s;
}

nav :hover {
    color: var(--accent);
}

.nav .active {
    color: var(--accent);
    border-bottom: 2px solid var(--accent);
}